.main-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.main-toolbar .mat-button.active {
  background-color: transparent;
  border-bottom: 2px solid white;
  padding-bottom: 6px;
  border-radius: 0;
}


.main-toolbar .mat-button:hover:not(.active) {
  background-color: rgba(255, 255, 255, 0.1);
}

.spacer {
  flex: 1 1 auto;
}

.page-content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 16px;
  box-sizing: border-box;
}

.nav-buttons {
  display: flex;
  flex: 1;
  justify-content: center;
}
